nav
{
   position: fixed;/* postulat de départ */
  top: 5%; left: 50%;  /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  background-color:#2b95ff;
}

header
{
	position: fixed;
}

.titre
{
	position: fixed;
	top: 5%; left: 8%;
	transform: translate(-50%, -50%);
	color:#48751A;
}

.publi
{
	position: fixed;
	top: 20%;
	right: 20%;
	left: 20%;
	bottom: 60%;
	background-color: #FFFFFF;
}

.pr
{
	text-align: center;
	position: fixed;
	top: 20%;
	right: 87%;
	left: 2%;
	bottom: 15%;
	flex: 1.2;
    background-color: #706b64;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}
img
{
	width: 200px;
	overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}


body
{
	background-color:#0FFFF8;
}

section
{
	position: absolute;
	left: 15%;
	right: 15%;
	top: 40%;
	bottom: 15%;
	color:#48751A;
}

#footer
{
	padding-top: 1000px;
	text-align: center;
}