nav
{
  position: fixed;
  top: 5%; left: 50%;
  transform: translate(-50%, -50%);
  background-color:#2b95ff;
}

#titre
{
	position: fixed;
	top: 5%; left: 8%;
	transform: translate(-50%, -50%);
	color:#48751A;
}

#monReseau
{
	/*position: absolute;
	left: 15%;
	right: 15%;
	top: 40%;
	bottom: 15%;
	/*color:#48751A;*/
	text-align: center;
}

#titre2
{
	padding-top: 50px;
	padding-left: 100px;
}

body
{
	background-color:#0FFFF8;
}

#footer
{
	padding-top: 180px;
	text-align: center;
}