nav
{
   position: fixed;/* postulat de départ */
  top: 5%; left: 50%;  /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  background-color:#2b95ff;
}

header
{	
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 70%;
}

.titre
{
	position: fixed;
	top: 5%; left: 8%;
	transform: translate(-50%, -50%);
	color:#48751A;
}


.pr
{
	position: fixed;
	top: 20%;
	right: 87%;
	left: 2%;
	bottom: 15%;
	flex: 1.2;
    background-color: #706b64;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}



body
{
	position: absolute;
	left: 20%;
	right: 15%;
	top: 15%;
	bottom: 15%;
	color:#48751A;
	background-color: #0FFFF8;
}

#footer
{
	padding-top: 35%;
	text-align: center;
	
}