body
{		
	margin-left: auto;
	margin-right: auto;
	height: 30%;
	width: 50%;
	background-color: aqua;
	text-align: center;
}


head
{	
	font-size: 40px;
	color:blue;
	text-align: center;
}
.inscription
{
  position: absolute; /* postulat de départ */
  top: 5%; left: 90%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

