body { background-color: #6699FF;
       color: #FFFFFF;
       font-family: Arial, Helvetica, sans-serif; 
}
h2  {background-color:#6699FF;
     color:#FFFFFF;
}
h3 {background-color:#6699FF;
    color:#FFFFFF;
}
dd {font-style:italic; 
    font-size:.90em;
    line-height:200%;
}
#leftcolumn { float: left;
              width: 150px;
}
div#leftcolumn a { display: block;
                   margin: 0 15px 15px 15px;
                   width: 80px;
                   padding-left:10px;
                   padding-right:10px;
                   border: 3px inset #cccccc;
                   text-decoration:none;
}
#leftcolumn ul {list-style-type: none;
                margin-top: 0;
                margin-left: 0;
                padding-left: 0;
}
#leftcolumn a:link { background-color: #003300;
                     color: #ffffcc;
}
#leftcolumn a:visited { background-color: #003300;
                        color: #ffffff;
}
#leftcolumn a:focus {background-color: #000000;
                     color: #cccccc;
                     border: 3px outset #cccccc;
}
#leftcolumn a:hover { background-color: #000033;
                      color: #ffffcc;
                      border: 3px outset #cccccc;
}
#leftcolumn a:active {background-color: #000033;
                      color: #cccccc;
                      border: 3px outset #cccccc;
}
#rightcolumn {margin-left: 150px;
	          padding: 0 20px 20px 0;
}
.logo { background-color:#ffffcc;
        color:#48751A;
}
.contact { font-family: "Times New Roman", serif;
           font-size: .90em;
           font-weight:bold;
}
#nav { font-weight:bold;
       font-size: 1.2em;
}
#footer { font-size: .60em;
          font-style: italic;
}
